* {
  font-size: 16px;
  font-weight: 400;
}

a {
  color: #0750d0;
}
a:hover {
  color: #0540a5;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 36px;
}
h5 {
  font-size: 30;
}

.hero {
  height: 100vh;
  background-image: url("./img/img1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all ease-in-out 0.34s;
}
.nav-item {
  font-size: small;
  color: white;
}
.primary {
  background-image: linear-gradient(35deg, #a1052c, #0750d0);
  color: #ffffff;
}
.primary:hover {
  background-image: linear-gradient(35deg, #880525, #0540a5);
  color: #ffffff;
}
.card:hover {
  background-image: linear-gradient(35deg, #a1052c, #0750d0);
}

#siguiente:hover {
  cursor: pointer;
}
#anterior:hover {
  cursor: pointer;
}
