.cursor {
  cursor: pointer;
  transition: all ease-in-out 0.23s;
}
.hero {
  height: 600px;
  background-image: url("../img/hero.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
}
footer {
  height: 150px;
  font-size: 15px;
}

section {
  background-color: rgb(105, 135, 219);
}
nav {
  height: 90px;
}
header {
  color: white;
}
a:hover {
  color: rgb(105, 135, 219);
}

.cursor:hover {
  background-color: rgb(105, 135, 219);
  transform: scale(1.05);
}
